MEROSS_EMAIL=YOUR_EMAIL
MEROSS_PASSWORD=YOUR_PASSWORD
INFLUXDB_URL=YOUR_INFLUX_URL
INFLUXDB_TOKEN=YOUR_INFLUX_TOKEN
INFLUXDB_ORG=YOUR_INFLUX_ORG
INFLUXDB_BUCKET=YOUR_INFLUX_BUCKET
API_BASE_URL=YOUR_API_BASE_URL
DEVICE_NAMES_TO_MONITOR=DEVICE_NAME1,DEVICE_NAME2
FETCH_INTERVAL=20
#DEBUG=FALSE #comment out if shell be disabled.